@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  text-align: center;
}

.App-logo {
  height: 77vmin;
  pointer-events: none;
}

.App-return{
  height: 12vmin;
  margin-top: 5vmin;
  margin-left: 5vmin;
  color: red;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header {
  /* background-color: #282c34; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.boton-menu{
  background-color: #de7a22 !important;
}

.enlace {
  text-decoration: none !important;
  color: white;
  font-size: 25px;
}

.arrow{
  /* color: white; */
  font-size: 1.5rem !important;
}

.close{
  font-size: 3rem !important;
}

.back{
  background-color: #20948B;
  color: white;
  text-decoration: none !important;
  font-size: 1.5rem;
  padding: 8px;
  /* padding-right: 18px;*/
}

.megafono{
  font-size: 7rem !important;
}

.sub-menu{
  background-color: #f4cc70;
  text-align: center;
}

.ficha{
  background-color: #f4cc70;
  color: #de7a22;
}

.letra{
  border: 4px solid #20948b;
  background-color: #aaf3c8;
  border-radius: 10px;
  /* padding: 2rem;
  padding-right: 6rem;
  padding-left: 6rem;
  width: 80%;
  font-size: 14rem; */
  color: #20948b;
}

/*ESTILO DE LA CAMARA*/
#webcam-container canvas{
  margin: auto;
  border: 3px solid #20948B;
  border-radius: 10px;
}

.background-negro{
  background-color: black;
}